.poker-table {
    background-repeat: no-repeat;
    height: 411px;
    width: 745px;
    top:50%;
    left:50%;
    margin-top:50px;
    margin-left:150px;
}

.seat {
    height: 150px;
    position: absolute;
    width: 150px;
}

#button {
    background-image: url('../images/dealerbutton.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 19px;
    position: absolute;
    width: 24px;
}

.name-chips {
    background-color: #1b91a9;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    height: 42px;
    position: absolute;
    text-align: center;
    top: 50px;
    width: 140px;
}

.player-name {
    width: 100%;
}

.card {
    background-image: url('../images/cardback.png');
    background-size: 100%;
    border-radius: 2px;
    height: 73px;
    width: 50px;
}

.holecards {
    float: left;
    height: 73px;
    left: 20px;
    position: absolute;
    top: 3px;
    width: 102px;
}

.holecard1 {

    left: 0px;
    top:-18px;
    position: absolute;
/*    bottom: 3; */
}

.holecard2 {
    position: absolute;
    left:50px;
    top: -91px;
/*    bottom: 3; */
}



.bet {
    color: white;
    font-size: 12px;
    left: 0px;
    position: absolute;
    top: 0px;
}

#seat0 {
    left: 255px;
    top:  340px;
}
.seat0-button {
    left: 368px;
    top:  413px;
}
#seat0 .bet {
    left: 41px;
    top: -37px;
}

#seat1 {
    left:  158px;
    top: 165px;
}
.seat1-button {
    left: 270px;
    top:  237px;
}
#seat1 .bet {
    left: 50px;
    top: 100px;
}

#seat2 {
    left: 252px;
    top:   10px;
}
.seat2-button {
    left: 363px;
    top:   82px;
}
#seat2 .bet {
    left: 30px;
    top: 100px;
}

#seat3 {
    left: 465px;
    top:   10px;
}

.seat3-button {
    left: 578px;
    top:   82px;
}
#seat3 .bet {
    left: 30px;
    top: 100px;
}

#seat4 {
    left: 675px;
    top:   10px;
}

.seat4-button {
    left: 788px;
    top:   82px;
}
#seat4 .bet {
    left: 30px;
    top: 100px;
}

#seat5 {
    left: 764px;
    top:  165px;
}
.seat5-button {
    left: 876px;
    top:  237px;
}
#seat5 .bet {
    left:  39px;
    top: 100px;
}

#seat6 {
    left: 677px;
    top:  340px;
}
.seat6-button {
    left: 790px;
    top:  412px;
}
#seat6 .bet {
    left: 39px;
    top: -34px;
}

#seat7 {
    left: 469px;
    top:  340px;
}
.seat7-button {
    left: 582px;
    top:  412px;
}
#seat7 .bet {
    left: 41px;
    top: -35px;
}


#board {
    left: 250px;
    position: absolute;
    top:  168px;
}

#pot {
    color: white;
    font-size: 16px;
    left: 488px;
    position: absolute;
    text-align: center;
    top: 233px;
    width:100px;
}

.boardcard {
    height: 73px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 50px;
}

#flop1 {
    top: -9px;
    left: 152px;
}

#flop2 {
    left: 207px;
    top:-82px;
}

#flop3 {
    left: 261px;
    top:-155px;
}

#turn {
    left: 315px;
    top:-228px;
}

#river {
    left: 369px;
    top:-301px;
}

#action-options {
    height: 100px;
    left: 447px;
    position: absolute;
    top: 644px;
    width: 501px;
    z-index:1;
}

.action-button {
    background-color: #1b91a9;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    padding: 10px 5px 0 5px;
    position: absolute;
}


select {
    background-color: #1b91a9;
    background: #1b91a9;
    border-radius: 1px;
    border: none;
    left: 60px;
    position: absolute;
    top: 10px;
    width: 3em;
}


#history {
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    font-size: 10px;
    height: 600px;
    left: 50px;
    position: absolute;
    top: 600px;
    width: 400px;
}

#game-response {
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: black;
    font-size: 12px;
    height: 300px;
    left: 155%;
    position: absolute;
    text-align: center;
    bottom: -88%;
    width: 526px;
}

.response-normal {
    background-color: #FFFFFF;
}


.response-warning {
    background-color: #FF0000;
}

#call-button {
    left: 80px;
}

#raise-button {
    left: 160px;
}

#quick-raises {
    background-color: #1b91a9;
    border-radius: 4px;
    font-size: 12px;
    height: 50px;
    left: 390px;
    position: absolute;
    text-align: center;
    top: 703px;
    width: 300px;
    z-index:1;
}
#quick-raises a:link {
    color: white;
    text-decoration: none;
}
#quick-raises a:hover {
    color: white;
    text-shadow: 3px 3px 4px #000000;
}


#modal-box {
    background-color: white;
    display: none;
    font-size: 12px;
    height: 100%;
    left: 0px;
    overflow: auto;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#modal-box a:link {
    color: #1b91a9;
    text-decoration: none;
}
#modal-box a:hover {
    color: #1b91a9;
    text-shadow: 3px 3px 4px #000000;
}
