<!-- dah_its_rewind_time - Vincent Chi, Robin Han, Bill Ni, Simon Tsui -->
<!-- Home Page -->
{% extends "templateLog.html" %}
{% block title %} Dah It's Rewind Time {% endblock %}
{% block content %}
	<div class="container">
		<a class="text-dark" style="text-decoration: none;" href="/"><h1 class="text-center"> New York Holdem </h1></a>
	</div></div>
	<div class = "container">
	  <div class="col-md-4">
	    <form action="/authenticate" method="POST">
	      <h2 class="text-info pb-2"><b>Login</b></h2>
	        <div class="row pb-2">
	          <div class="col">
	            <input type="hidden" name="address" value="{{address}}">
	            <input class="form-control mr-sm-2" type="text" name="username" placeholder = "Username" required>
	          </div>
	        </div>
	        <div class="row pb-4">
	          <div class="col">
	            <input class="form-control mr-sm-2" type="password" name="password" placeholder = "Password" required>
	          </div>
	        </div>
	       <input class="btn btn-warning text-dark shadow mb-5" type="submit" name="submit" value ="Login">
	     </form>
	   </div>
	 </div>
{% endblock %}
