<!-- dah_its_rewind_time - Vincent Chi, Robin Han, Bill Ni, Simon Tsui -->

{% extends "templateLog.html" %}
{% block title %} Home - New York Hold'em {% endblock %}
{% block content %}
<body onload="parent.init('{{bank}}')">
    <div  class="container">
        <div class="col-md-2">
        <div id="poker_table" class="poker-table" data-uid="">
            <div id="seat0" class="seat">
                <div class="holecards">
                    <div class="card holecard1"></div>
                    <div class="card holecard2"></div>
                </div>
                <div class="name-chips">
                    <div class="player-name"></div>
                    <div class="chips"></div>
                </div>
                <div class="bet"></div>
            </div>
            <div id="seat1" class="seat">
                <div class="holecards">
                    <div class="card holecard1"></div>
                    <div class="card holecard2"></div>
                </div>
                <div class="name-chips">
                    <div class="player-name"></div>
                    <div class="chips"></div>
                </div>
                <div class="bet"></div>
            </div>
            <div id="seat2" class="seat">
                <div class="holecards">
                    <div class="card holecard1"></div>
                    <div class="card holecard2"></div>
                </div>
                <div class="name-chips">
                    <div class="player-name"></div>
                    <div class="chips"></div>
                </div>
                <div class="bet"></div>
            </div>
            <div id="seat3" class="seat">
                <div class="holecards">
                    <div class="card holecard1"></div>
                    <div class="card holecard2"></div>
                </div>
                <div class="name-chips">
                    <div class="player-name"></div>
                    <div class="chips"></div>
                </div>
                <div class="bet"></div>
            </div>
            <div id="seat4" class="seat">
                <div class="holecards">
                    <div class="card holecard1"></div>
                    <div class="card holecard2"></div>
                </div>
                <div class="name-chips">
                    <div class="player-name"></div>
                    <div class="chips"></div>
                </div>
                <div class="bet"></div>
            </div>
            <div id="seat5" class="seat">
                <div class="holecards">
                    <div class="card holecard1"></div>
                    <div class="card holecard2"></div>
                </div>
                <div class="name-chips">
                    <div class="player-name"></div>
                    <div class="chips"></div>
                </div>
                <div class="bet"></div>
            </div>
            <div id="seat6" class="seat">
                <div class="holecards">
                    <div class="card holecard1"></div>
                    <div class="card holecard2"></div>
                </div>
                <div class="name-chips">
                    <div class="player-name"></div>
                    <div class="chips"></div>
                </div>
                <div class="bet"></div>
            </div>
            <div id="seat7" class="seat">
                <div class="holecards">
                    <div class="card holecard1"></div>
                    <div class="card holecard2"></div>
                </div>
                <div class="name-chips">
                    <div class="player-name"></div>
                    <div class="chips"></div>
                </div>
                <div class="bet"></div>
            </div>
            <div id="board">
                <div id="flop1" class="card boardcard"></div>
                <div id="flop2" class="card boardcard"></div>
                <div id="flop3" class="card boardcard"></div>
                <div id="turn" class="card boardcard"></div>
                <div id="river" class="card boardcard"></div>
            </div>
            <div id="pot">
                <div id="current-pot"></div>
                <div id="total-pot"></div>
            </div>
        </div>
        <div id="button" class="seat6-button"></div>
        <div id="history"></div>
        <div id="action-options">
            <div id="fold-button" class="action-button"></div>
            <div id="call-button" class="action-button"></div>
            <div id="raise-button" class="action-button"></div>
        </div>
        <div id="quick-raises">Quick Raises</div>
        <div id="game-response" class="response-normal">Game response</div>
        <div id="modal-box"></div>

    </div>
    </div>
    <br><br><br><br><br><br>
    </body>


    {% endblock %}
</html>
