<!-- dah_its_rewind_time - Vincent Chi, Robin Han, Bill Ni, Simon Tsui -->
<!-- Creating account page -->
{% extends "templateLog.html" %}
{% block title %} newyorkholdemB {% endblock %}

{% block content %}
<div class="container">
  <div class = "container" style="position: absolute; left: 10%; top: 20%;width: 75%;">
    <div class="col-md-4">
    <form action="/authenticate" method="POST">
      <h2 class="text-info pb-2"><b>Create Account</b></h2>
          <div class="row pb-2">
            <div class="col">
              <input type="hidden" name="address" value="{{request.full_path}}">
              <input type="text" class="form-control mr-sm-2" name="username" placeholder="Username" required>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col">
              <input type="password" class="form-control mr-sm-2" name="password" placeholder="Password" required>
            </div>
          </div>
      <input class="btn btn-warning text-dark shadow mb-5" type="submit" name="submit" value = "Register">
    </form>
    </div>
  </div>
  	 <div class = "boxed" style="position: absolute; left: 40%; top: 15%;">
	 	<h4>
	 		<b>Welcome to New York Hold'em</b><br><br>
	 		If you don't have an account, you can create one by clicking register. You must be logged in
	 		to play.
	 		<br><br>
	 		Every new user will start out with 20000 chips and you will be playing with bots. Keep in mind that everytime you click new game, the number of chips you earn (or 
	 		lose) in that game will not be saved into your profile until complete that game. Spend your chips wisely.
	 		<br><br>
	 		NOTE** Team dah_its_rewind_time <b>does not</b> encourage gambling, especially under the age of 18. Please be responsible of your own money!
	 	</h4>
	 </div>
</div>
{% endblock %}
